<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signUpFrom" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              formControlName="username"
              [ngClass]="{'invalid' : signUpFrom.get('userData.username').invalid && signUpFrom.get('userData.username').touched}"
              class="form-control">
            <span
              *ngIf="signUpFrom.get('userData.username').invalid && signUpFrom.get('userData.username').touched"
              class="help-block">
              <span *ngIf="signUpFrom.get('userData.username').errors['nameIsForbidden']">This name is invalid</span>
              <span *ngIf="signUpFrom.get('userData.username').errors['required']">This field is required</span>
            </span>
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input
              type="email"
              id="email"
              formControlName="email"
              [ngClass]="{'invalid' : signUpFrom.get('userData.email').invalid && signUpFrom.get('userData.email').touched}"
              class="form-control">
            <span
              *ngIf="signUpFrom.get('userData.email').invalid && signUpFrom.get('userData.email').touched"
              class="help-block">
              <span *ngIf="signUpFrom.get('userData.email').errors['emailIsForbidden']">This email is forbidden</span>
              <span *ngIf="signUpFrom.get('userData.email').errors['email']">This email is invalid</span>
            </span>
          </div>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              formControlName="gender"
              [value]="gender">{{ gender }}
          </label>
        </div>
        <div formArrayName="hobbies">
          <h4>Your hobbies</h4>
          <button class="btn btn-default" type="button" (click)="onAddHobby()">Add hobby</button>
          <div class="form-group"
               *ngFor="let hobbyControl of signUpFrom.get('hobbies').controls; let idx = index">
            <input type="text" [formControlName]="idx" class="form-control">
          </div>
        </div>
        <span
          *ngIf="signUpFrom.invalid && signUpFrom.touched"
          class="help-block">The form is invalid</span>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
